* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid;
}
h1 {
  font-size: medium;
  font-weight: 200;
}
p {
  font-size: small;
}

button {
    text-decoration: none;
    list-style: none;
    font-size: small;
}

.quiz {
    font-family:"Montserrat", sans-serif;
    /* text-align: center; */
    width: 500px;
    height: 200px;
    margin: 5px;
    padding: 5px;
}



.option-container button {
    margin: 10px;
    cursor:pointer;
}


.option-container button:hover {
    background:peru;
    width: 80px;
    margin: 0 auto;
    padding:5 px;
    border-radius: 3px;
    transition: 0.3s ease;
}



.end {
    display:none;
}